<section class="confirmation-message">
<p>Thank you for registering. A confirmation email has been sent to your provided email address.</p>
<p>Suretix products are built to the highest quality standards and we trust you will enjoy years of trouble-free service. In the event of a failure due to an unforeseen manufacturing defect your unit will be repaired or replaced according to our <a href="<%=settings.warranty_info_url%>" target="_blank">Warranty Conditions</a>.</p>
<p>Subject to the Warranty Conditions and Exclusions as stated, your Suretix product is warranted as follows:</p>
<ul>
	<li>Heat pump unit: Three years from date of installation</li>
	<li>Tank unit: Fifteen years from date of installation</li>
</ul>
<p>Learn more about the <a href="<%=settings.products_url%>" target="_blank">features and benefits of your Suretix product</a></p>
</section>